body {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.terminal {
  width: 88%;
  height: 85%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.terminal header {
  background-color: var(--header-background-color);
  border-radius: 14px 14px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding: 10px;
}

.terminal header > div {
  width: 33%;
  display: flex;
  justify-content: center;
}

.button-container {
  justify-content: flex-start !important;
}

.button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
}

.btn-red {
  background-color: #ff5f56;
}

.btn-yellow {
  background-color: #ffbd2e;
}

.btn-green {
  background-color: #27c93f;
}

.invisible-link {
  text-decoration: none;
  color: var(--text-color);
}

.content {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.terminal footer {
  background-color: var(--header-background-color);
  border-radius: 0 0 14px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding: 10px;
}

.prompt {
  color: #ff5f56;
  white-space: nowrap;
}

#terminal_content p {
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
}

#terminal_content a {
  color: var(--hyperlink-terminal-color);
  text-decoration: revert;
}

.input-container {
  display: flex;
}

#terminal_input {
  width: 100%;
  margin-left: 5px;
}
